#!/bin/bash

TARGET_FILE={{ joinPath .chezmoi.homeDir ".config/ghostty/shaders/ghostty-shaders/retro-terminal.glsl" | quote }}
PATCH_FILE={{ joinPath .chezmoi.sourceDir "patches/retro-terminal-flat.glsl.diff" | quote }}

# Check if the target file exists before trying to patch
if [ -f "$TARGET_FILE" ]; then
    # -N (--forward): Ignores patches that appear to be already applied
    # || true: Prevents the script from failing and halting 'chezmoi apply' if the patch was skipped
    # TODO: --silent not working. Outout:
    #   Ignoring previously applied (or reversed) patch.
    #   2 out of 2 hunks ignored--saving rejects to '/Users/smuri5/.config/ghostty/shaders/ghostty-shaders/retro-terminal.glsl.rej'
    patch -N --silent "$TARGET_FILE" < "$PATCH_FILE" || true
fi