
# Load custom completions
fpath=(~/.zsh/completions $fpath)

# Set the directory we want to store zinit and plugins
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"

# Download Zinit, if it's not there yet
if [ ! -d "$ZINIT_HOME" ]; then
   mkdir -p "$(dirname $ZINIT_HOME)"
   git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

# Source/Load zinit
source "${ZINIT_HOME}/zinit.zsh"

# Load Oh My Posh
eval "$(oh-my-posh init zsh --config '~/.config/oh-my-posh/ys-lambda.omp.json')"

# Add in zsh plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab

# Add in snippets
zinit snippet OMZL::git.zsh
zinit snippet OMZP::git
zinit snippet OMZP::terraform

autoload -Uz zmv

# Load completions
autoload -Uz compinit && compinit

zinit cdreplay -q

# Keybindings
bindkey -e
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward
bindkey '^[w' kill-region
bindkey "^[[1;3C" forward-word
bindkey "^[[1;3D" backward-word
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

autoload -Uz edit-command-line
zle -N edit-command-line
bindkey '^X^E' edit-command-line
bindkey ' ' magic-space

bindkey -s '^Xgc' 'git commit -m ""\C-b'
bindkey -s '^Xgcn' 'git commit --no-verify -m ""\C-b'
bindkey -s '^Xgp' 'git push -u origin $(git_current_branch)'

# History
HISTSIZE=5000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

# Completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'
zstyle ':fzf-tab:complete:__zoxide_z:*' fzf-preview 'ls --color $realpath'

# Env vars
export EDITOR="nvim"
export HOMEBREW_BUNDLE_FILE="~/.config/homebrew/Brewfile"

# Aliases
alias ls='ls --color=auto'
alias vim='nvim'
alias vi='nvim'
# alias cat='bat'
alias zshconfig="chezmoi edit ~/.zshrc"
alias zshreload="exec zsh"

# Alias suffixes
alias -s json=jless
alias -s md=cat
alias -s txt=cat
alias -s log=cat
alias -s py='$EDITOR'
alias -s tf='$EDITOR'

# Global alias
# Redirect stderr to /dev/null
alias -g NE='2>/dev/null'

# Redirect stdout to /dev/null
alias -g NO='>/dev/null'

# Redirect both stdout and stderr to /dev/null
alias -g NUL='>/dev/null 2>&1'

# Pipe to jq
alias -g J='| jq'

# Shell integrations
eval "$(fzf --zsh)"
eval "$(zoxide init --cmd cd zsh)"
eval "$(direnv hook zsh)"

{{- if eq .chezmoi.os "darwin" }}
SHELL=/bin/zsh
# Copy output to clipboard
alias -g C='| pbcopy'
{{- end }}

{{- if eq .chezmoi.os "linux" }}
SHELL=/usr/bin/zsh

# Spotify cache
alias spotify_clean_cache="find ~/.var/app/com.spotify.Client/cache/spotify/ -name 'Singleton*' -delete"

# Homelab
export NOMAD_ADDR=http://192.168.0.4:4646
export VAULT_ADDR=http://192.168.0.4:8200

# Secrets
export PROTON_PASS_KEY_PROVIDER=fs
export VAULT_TOKEN={{- protonPass "pass://Development/Vault/Root token" -}}
{{- /* TODO: Read token by hostname */ -}}
export GITLAB_ACCESS_TOKEN={{- protonPass "pass://Development/GitLab/thinkpad-e16 token" -}}

# AI
# GEMINI_API_KEY=""
{{- end }}
